/** CSS STYLE **/
body {
  margin: 0;
  padding: 0;

  color: #2a2626;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;

  background-color: #fff;
}

h1,
h2,
h3 {
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.content {
  max-width: 1110px;

  text-align: center;
}
